<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Jogo da Velha - TESTE</title>
        <meta name='description' content='Jogo da Velha'/>
        <meta name='keywords' content='Jogo da Velha'/>

        <meta property='og:title' content='Jogo da Velha'/>
        <meta property='og:url' content='{path}'/>
        <meta property='og:description' content='Jogo da Velha'/>
        <meta property='og:type' content='website'/>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=1"/>

        <!-- FAVICO -->
        <link rel="apple-touch-icon" sizes="57x57" href="{path}images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{path}images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{path}images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{path}images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{path}images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{path}images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{path}images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{path}images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{path}images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{path}images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{path}images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{path}images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{path}images/favicon/favicon-16x16.png">
        <link rel="manifest" href="{path}images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{path}images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- FAVICO -->       
        <link rel="stylesheet" href="{path}bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="{path}css/custom.css?d={nocache}">
        <script>
            const PATH = "{path}";
            const INDEX = "{index}";
        </script>
    </head>
    <body>
        <header></header>

        <section>
            {MIOLO}
        </section>

        <footer>
            <p style="text-align:center;">Desenvolvido por : Rafael Nazario de Farias</p>
        </footer>
        <script src="{path}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{path}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{path}js/jv_app.js?d={nocache}"></script>
    </body>
</html>